<form class="form-horizontal" role="form" id="mainForm">
  <div class="form-group">
    <label for="name" class="col-lg-2 control-label">Name</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="name" name="name" placeholder="name" ng-model="model.name" />
      <span class="validation-error" ng-show="mainForm.name.$error.required">required</span>
    </div>
  </div>

  <div class="form-group">
    <label for="type" class="col-lg-2 control-label">Type</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="type" name="type" placeholder="pony type" ng-model="model.type" />
    </div>
  </div>

  <div class="form-group">
    <label for="color" class="col-lg-2 control-label">Color</label>
    <div class="col-lg-2">
      <input type="color"  id="color" name="color" placeholder="Name"  ng-model="model.color" />
    </div>
  </div>

  <div class="form-group">
    <div class="pull-right">
      <button ng-click="save()" class="btn btn-primary">Save</button>
      <button ng-click="cancel()" class="btn btn-default">Cancel</button>
    </div>
  </div>
</form>